<app-navbar></app-navbar>

<h6 *ngIf="myname">Hello {{ myname }} </h6>
<input type="text" [(ngModel)]="myname" placeholder="Enter your name">

<ul class="list-disc pl-10">
  <li *ngFor="let item of items">{{ item }}</li>
</ul>

<!-- <button (click)="changename()">Change Name</button> -->

<h1>Welcome</h1>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
  Eos ipsum unde nemo ab ea perspiciatis illum, aperiam fugiat rerum sunt! 
  Nemo aperiam culpa ipsa esse delectus? Impedit fugit eius dicta.
</p>

<app-child [data]="parentData"></app-child>

<router-outlet></router-outlet>